{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/heart.png' %}">
        <span class="logo">Elise</span>
        <h3>Navigation</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Home </li></a>
            <a href="{% url 'scan' %}"><li><i class="far fa-clock"></i> Scan </li></a>
            <a href="{% url 'patients' %}"><li><i class="fas fa-universal-access"></i> Patients </li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-monument"></i> About </li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>